@use './reset.scss';
@use './theme/dark.scss';
@use './theme/light.scss';
@use './variables/global.scss';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    height: 100vh;
}

.content-page {
    display: flex;
}

.page-content {
    flex-grow: 1;
}